@font-face {
  font-family: "Vazir Regular";
  src: url(../assets/Fonts/Vazir/Vazirmatn-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Vazir Medium";
  src: url(../assets/Fonts/Vazir/Vazirmatn-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Vazir SemiBold";
  src: url(../assets/Fonts/Vazir/Vazirmatn-SemiBold.woff2) format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Vazir Bold";
  src: url(../assets/Fonts/Vazir/Vazirmatn-Bold.woff2) format("woff2");
  font-weight: 700;
}

/* 

reset style

*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --text-color: linear-gradient(0deg, #1a1814, #1a1814),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  --sec-text-color: rgba(96, 96, 96, 1);
  --color-input-bg: rgba(247, 247, 247, 1);
  --color-white: rgba(255, 255, 255, 1);
  --primary-color: rgba(204, 49, 45, 1);
  --color-product-bg: rgba(229, 48, 63, 0.1);
  --color-gray: rgba(20, 20, 20, 0.4);

  --primary-font-rg: "Vazir Regular", Arial, Helvetica, sans-serif;
  --primary-font-md: "Vazir Medium", Arial, Helvetica, sans-serif;
  --primary-font-sm: "Vazir SemiBold", Arial, Helvetica, sans-serif;
  --primary-font-b: "Vazir Bold", Arial, Helvetica, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

/* 

container

*/

.container {
  width: 100%;
  max-width: 1280px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

/* 

Component

*/

.label {
  font-family: var(--primary-font-rg);
  font-size: 1.4rem;
  color: var(--text-color);
  margin: 0 auto 0.5rem;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 3px;
}
/* 

App code

*/

.product__basket {
  display: grid;
  grid-template-columns: 1fr;
  border: 1.5px solid rgba(235, 235, 235, 1);
  border-radius: 2rem;
  margin: 2rem auto 3rem;
}
.product__basket svg {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.user__info {
  margin: 3rem auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__info__title {
  font-family: var(--primary-font-b);
  font-size: 2.2rem;
  color: var(--text-color);
}
.receiver__info {
  margin: 1rem auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.receiver__info__title {
  font-family: var(--primary-font-sm);
  font-size: 1.6rem;
  color: var(--text-color);
}
.receiver__info__box {
}
.receiver__info__box__name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.receiver__info__box__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#username {
  margin: 0 auto;
  min-width: 60%;
  background-color: var(--color-input-bg);
  color: var(--text-color);
  border-radius: 4rem;

  font-family: var(--primary-font-md);
  font-size: 1.4rem;
  border: none;
  outline: none;
  text-align: right;
  text-align: center;
  height: 2.7rem;
}
#usernumber {
  margin: 0 auto;
  min-width: 60%;
  background-color: var(--color-input-bg);
  color: var(--text-color);
  border-radius: 4rem;

  font-family: var(--primary-font-md);
  font-size: 1.4rem;
  border: none;
  outline: none;
  text-align: center;
  height: 2.7rem;
}

.receiver__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 2.5rem 2rem;
}
.receiver__address__title,
.send__title {
  font-family: var(--primary-font-sm);
  font-size: 1.6rem;
  color: var(--text-color);
}
.new__address {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.new__address span {
  min-width: 7rem;
  color: var(--primary-color);

  font-family: var(--primary-font-md);
  font-size: 1.3rem;
}

.receiver__address__box {
}
.receiver__province,
.receiver__city,
.receiver__license__plate,
.receiver__zip__code,
.receiver__postal__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

#province,
#city,
#license__plate,
#zip__code {
  margin: 0 auto;
  min-width: 60%;
  background-color: var(--color-input-bg);
  color: var(--text-color);
  border-radius: 4rem;
  font-family: var(--primary-font-md);
  font-size: 1.4rem;
  border: none;
  outline: none;
  text-align: center;
  height: 2.7rem;
}

#postal__address {
  margin: 0 auto;
  padding: 1rem 3rem;
  width: 60%;
  height: 7rem;
  max-width: 80%;
  max-height: 14rem;
  background-color: var(--color-input-bg);
  color: var(--text-color);
  border-radius: 2rem;
  font-family: var(--primary-font-md);
  font-size: 1.4rem;
  border: none;
  outline: none;
  text-align: right;
}
option {
  background-color: var(--color-product-bg);
  border: none;
  outline: none;
  scrollbar-width: none;
}
.send {
}
.send svg {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.send__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 2.5rem 1rem;
}
/* bayad hazf she */
.send {
  margin-bottom: 3rem;
}

.send__product__number {
  min-width: 14rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: var(--primary-color);
  font-family: var(--primary-font-md);
  font-size: 1.3rem;
  border-radius: 3.2rem;
  background-color: var(--color-product-bg);
}
.send__box__tipax__text input[type="radio"] {
  display: none;
}
.send__box__pishtaz__text input[type="radio"] {
  display: none;
}
.radio-icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
  opacity: 0.2;
}
.send__box__tipax__text input[type="radio"]:checked + .radio-icon,
.send__box__pishtaz__text input[type="radio"]:checked + .radio-icon {
  opacity: 1;
}

.send__box__pishtaz,
.send__box__tipax {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 1.4rem;
  border: 1.5px solid transparent;
  border-radius: 4rem;
  transition: all 250ms ease-in;
  padding: 0.8rem;
  cursor: pointer;
}
.send__box__pishtaz:hover,
.send__box__tipax:hover {
  border-color: var(--primary-color);
}

.send__box__tipax__text,
.send__box__pishtaz__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.send__box__tipax__text label,
.send__box__pishtaz__text label {
  font-family: var(--primary-font-md);
  font-size: 1.3rem;
  cursor: pointer;
}
.send__box__tipax__price span:first-child,
.send__box__pishtaz__price span:first-child {
  font-family: var(--primary-font-md);
  font-size: 1.6rem;
  color: var(--text-color);
}
.send__box__tipax__price span:last-child,
.send__box__pishtaz__price span:last-child {
  font-family: var(--primary-font-md);
  font-size: 1rem;
  color: var(--sec-text-color);
}

.basket__info {
  background-color: var(--color-input-bg);
}
.basket__info svg {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: auto;
}

.basket__info__title {
  margin: 3rem auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket__info__title h3 {
  font-family: var(--primary-font-b);
  font-size: 2.2rem;
  color: var(--text-color);
}

.basket__products {
  display: grid;
  grid-template-columns: 1fr;
}
.basket__product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1.5rem;
}
.basket__product__img {
  aspect-ratio: 3 / 3;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
}
.basket__product__img img {
  transform: scale(0.85);
  width: 6rem;
}
.basket__product__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.basket__product__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.basket__product__header__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.basket__product__header__text__title {
  font-family: var(--primary-font-sm);
  font-size: 1.4rem;
  color: var(--text-color);
}
.basket__product__header__text__caption {
  font-family: var(--primary-font-md);
  font-size: 1.2rem;
  color: var(--text-color);
}
.basket__product__header__Volume {
}
.basket__product__header__Volume span:first-child {
  font-family: var(--primary-font-sm);
  font-size: 1.6rem;
  color: var(--text-color);
}
.basket__product__header__Volume span:last-child {
  font-family: var(--primary-font-rg);
  font-size: 1.3rem;
  color: var(--sec-text-color);
}
.basket__product__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket__product__footer__price {
}
.basket__product__footer__price span:first-child {
  font-family: var(--primary-font-sm);
  font-size: 1.6rem;
  color: var(--text-color);
}
.basket__product__footer__price span:last-child {
  font-family: var(--primary-font-rg);
  font-size: 1.3rem;
  color: var(--sec-text-color);
}
.basket__product__footer__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}
.basket__product__footer__icon__plus {
  background-color: var(--color-white);
  border-radius: 4rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.basket__product__footer__icon__number {
  border: 1.5px solid rgba(230, 230, 230, 1);
  background-color: var(--color-white);
  border-radius: 4rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--primary-font-md);
  font-size: 1.4rem;
}
.basket__product__footer__icon__delete {
  background-color: var(--color-white);
  border-radius: 4rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.basket__product__footer__icon__plus:hover,
.basket__product__footer__icon__delete:hover {
  background-color: var(--color-product-bg);
}
.basket__product__footer__icon__delete svg {
  width: 2rem;
}

.basket__cost {
  background-color: var(--color-white);
  margin: 0 1.5rem;
  border-radius: 1.2rem;
}
.basket__cost__price,
.basket__cost__send {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 1rem 2rem;
}
.basket__cost__price__text,
.basket__cost__send__text {
  font-family: var(--primary-font-rg);
  font-size: 1.4rem;
  color: var(--text-color);
}
.basket__cost__price__number,
.basket__cost__send__number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  color: var(--color-gray);

  font-family: var(--primary-font-md);
  font-size: 1.4rem;
}

.basket__cost__price__number span:first-child,
.basket__cost__send__number span:first-child {
}
.basket__cost__price__number span:last-child,
.basket__cost__send__number span:last-child {
}

.basket__cost__payable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 1rem 2rem;
}
.basket__cost__payable__text {
  font-family: var(--primary-font-sm);
  font-size: 1.4rem;
}
.basket__cost__payable__number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.basket__cost__payable__number span:first-child {
  font-family: var(--primary-font-sm);
  font-size: 1.4rem;
}
.basket__cost__payable__number span:last-child {
  font-family: var(--primary-font-md);
  font-size: 1.4rem;
  color: var(--color-gray);
}

.zibal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: 3rem 1.5rem;
  padding: 1.5rem 1rem;
  background-color: var(--color-white);
  border-radius: 1.2rem;
}
.zibal__icon {
  width: 4rem;
}
.zibal__text {
  font-family: var(--primary-font-rg);
  font-size: 1.2rem;
}
.zibal__text span {
  font-family: var(--primary-font-md);
  font-size: 1.4rem;
}

.payment__button {
  display: flex;
  align-items: center;
  margin: 3rem 1.5rem;
}
.payment {
  background-color: var(--primary-color);
  color: var(--color-white);
  border-radius: 4rem;
  border: none;
  outline: none;
  width: 100%;
  padding: 1.5rem 1rem;
  font-family: var(--primary-font-sm);
  font-size: 1.6rem;
  cursor: pointer;
}
/* 

Responsive

*/

/* @media (max-width: 380px) {
  .container {
    width: 33rem;
  }
}

@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
} */
